<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="avatar">
                <img src="<%= user.avatar %>">
            </div>
            <div class="info">
                <h4><%= user.username %></h4>
            </div>
        </div>
        <div class="col-md-8">
            <h3>All <%= user.username %> Post</h3>
            <% trip.forEach(function(trip) { %>
                <img src="<%= trip.image %>" class="img-fluid">
                <a href="/trips/<%= trip._id %>"><%= trip.name %></a>
            <% }) %>
        </div>
    </div>
</div>

<% include ../partials/footer %>
